body {
    background-color: rgb(170, 160, 160);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.tabela {
    text-align: center;
    padding: 40px;
}

ul {
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #5a2121;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
