body {
    background-color: rgb(170, 160, 160);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;

}

/* bloco central */
.card {
    background-color: #f5f5f5;
    width: 350px;
    padding: 40px 50px;
    border-radius: 10px;
    border: 3px inset black;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

/* lista centralizada como bloco */
.lista {
    margin: 30px auto 0;
    padding-left: 20px;
    width: fit-content;

    text-align: left;
}

.lista li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: red;
}
